:root {
	--bt-blue:    #2C699A;
	--bt-indigo:  #9336fd;
	--bt-purple:  #54478C;
	--bt-pink:    #db5375;
	--bt-red:     #c51f35;
	--bt-orange:  #F29E4C;
	--bt-yellow:  #EFEA5A;
	--bt-green:   #83E377;
	--bt-teal:    #16DB93;
	--bt-cyan:    #00b2ca;
	--bt-white:   #FFFFFF;
	--bt-night: #06223B;
	--bt-night-rgb: 6,34,59;
	--bt-white: #FFFFFF;
	--bt-white-rgb: 255,255,255;
	--bt-sky: #2898FF;
	--bt-sky-rgb: 40, 152, 255;
	--bt-sky-dark: #0075E2;
	--bt-sky-dark-rgb: 0,117,226;
	--bt-sky-light: #6CB9FF;
	--bt-sky-light-rgb: 108, 185, 255;
	--bt-pear: #9EE345;
	--bt-pear-rgb: 158, 227, 69;
	--bt-pear-dark: #5DA400;
	--bt-pear-dark-rgb: 133, 183, 70;
	--bt-pear-light: #C1F87C;
	--bt-pear-light-rgb: 193, 248, 124;
	--bt-lemon: #FCDA27;
	--bt-lemon-rgb: 252, 218, 39;
	--bt-lemon-dark: #EEB628;
	--bt-lemon-dark-rgb: 238, 182, 40;
	--bt-lemon-light: #FFEB3C;
	--bt-lemon-light-rgb: 255, 235, 60;
	--bt-tangelo: #FC6727;
	--bt-tangelo-rgb: 252, 103, 39;
	--bt-tangelo-dark: #D45823;
	--bt-tangelo-dark-rgb: 212, 88, 36;
	--bt-tangelo-light: #FF823C;
	--bt-tangelo-light-rgb: 255, 130, 60;
	--bt-plum: #D48DFF;
	--bt-plum-rgb: 189, 81, 255;
	--bt-plum-dark: #9E47D3;
	--bt-plum-dark-rgb: 158, 71, 211;
	--bt-plum-light: #D48DFF;
	--bt-plum-light-rgb: 212, 141, 255;
	--bt-rose: #FF4466;
	--bt-rose-rgb: 255, 68, 102;
	--bt-rose-dark: #E03251;
	--bt-rose-dark-rgb: 224, 50, 81;
	--bt-rose-light: #FF5876;
	--bt-rose-light-rgb: 255, 88, 118;
	--bt-slate: #213D55;
	--bt-slate-rgb: 33, 61, 85;
	--bt-concrete: #909EAA;
	--bt-concrete-rgb: 144, 158, 170;
	--bt-cement: #BFC7CE;
	--bt-cement-rgb: 191, 199, 206;
	--bt-clay: #DCE0E4;
	--bt-clay-rgb: 220, 224, 228;
	--bt-chalk: #F6F7F8;
	--bt-chalk-rgb: 246, 247, 248;
	--primary: var(--bt-lemon);
	--secondary: var(--bt-night);
	--success: var(--bt-pear);
	--info: var(--bt-sky-light);
	--warning: var(--bt-lemon-light);
	--danger: var(--bt-tangelo);
	--light: var(--bt-white);
	--dark: var(--bt-slate);
	--bt-tag-event-bg-color: rgba(var(--bt-rose-light-rgb), 0.55);
	--bt-tag-video-bg-color: rgba(var(--bt-plum-light-rgb), 0.6);
	--bt-tag-webcast-bg-color: rgba(var(--bt-lemon-rgb), 0.6);
	--bt-tag-customer-story-bg-color: rgba(var(--bt-sky-light-rgb), 0.7);
	--bt-tag-report-bg-color: rgba(var(--bt-tangelo-light-rgb), 0.6);
	--bt-tag-article-bg-color: rgba(var(--bt-cement-rgb), 0.7);
	--bt-border-radius-small: 16px;
  	--bt-border-radius: 24px;
  	--bt-border-radius-inner: 23px;
  	--bt-border-width: 1px;
  	--bt-p-small: 14px;
  	--bt-p-medium: 15px;
  	--bt-p-large: 16px;
  	--bt-p-xlarge: 18px;
  	--bt-box-padding: 30px;
  	--bt-box-padding-medium: 24px;
	--bt-transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1.5) !important;
	--bt-transition-secondary: all 0.4s ease-out !important;
	--bt-font-stack: 'Sora', sans-serif;
	--bt-btn-font-size: 13px;
	--bt-fluid-calc-one: min(max(36px, calc(2.25rem + ((1vw - 3.2px) * 2.25))), 72px);
	--bt-fluid-calc-two: min(max(32px, calc(2rem + ((1vw - 3.2px) * 1.75))), 60px);
	--bt-fluid-calc-three: min(max(26px, calc(1.625rem + ((1vw - 3.2px) * 1.375))), 48px);
	--bt-fluid-calc-four: min(max(23px, calc(1.4375rem + ((1vw - 3.2px) * 0.8125))), 36px);
	--bt-fluid-calc-five: min(max(20px, calc(1.25rem + ((1vw - 3.2px) * 0.5))), 28px);
	--bt-fluid-calc-six: min(max(12px, calc(0.75rem + ((1vw - 3.2px) * 0.75))), 24px);
	--bt-fluid-calc-one-large: min(max(38px, calc(2.375rem + ((1vw - 3.2px) * 2.5))), 78px);
	--bt-platinum-gradient: linear-gradient(0deg, var(--bt-concrete) 0%, var(--bt-cement) 100%);
	--bt-gold-gradient: linear-gradient(0deg, var(--bt-lemon-dark) 0%, var(--bt-lemon) 100%);
	--bt-silver-gradient: linear-gradient(0deg, var(--bt-cement) 0%, var(--bt-clay) 100%);
	--bt-global-gradient: linear-gradient(0deg, var(--bt-sky-dark) 0%, var(--bt-pear-dark) 100%);
	--bt-hero-gradient: linear-gradient(148deg, rgba(40, 152, 255, 0.95) 0%, rgba(40, 152, 255, 0.80) 30.5%, rgba(193, 248, 124, 0.90) 100%);
	--bt-cap-gradient: linear-gradient(123deg, rgba(108, 185, 255, 0.70) 30.14%, #C1F87C 75.35%), #C1F87C !important;
	--bt-uc-gradient: linear-gradient(108deg, rgba(108, 185, 255, 0.60) 0.8%, #F5823C 100.15%), #FFF !important;
	--bt-sc-gradient: linear-gradient(123deg, rgba(108, 185, 255, 0.70) 30.14%, rgba(255, 235, 60, 0.90) 86.92%), #FFF !important;
	--bt-pear-sky_light-gradient: linear-gradient(123deg, rgba(193, 248, 124, 0.80) 30.14%, #96D8BF 59.58%, #6CB9FF 100.23%), #FFF !important;
	--bt-sky-pear_light-gradient: linear-gradient(117deg, #6CB9FF 24.46%, #96D8BF 57.39%, rgba(193, 248, 124, 0.80) 100.2%), #FFF;
	--bt-sky-sky_light-gradient: linear-gradient(92deg, #6CB9FF 0%, rgba(40, 152, 255, 0.90) 100%);



	@media screen and (min-width: 576px) {
		--bt-box-padding-medium: 30px;
		--bt-box-padding: 40px;
		--bt-btn-font-size: 15px;
	}
	@media screen and (min-width: 768px) {
		--bt-p-small: 15px;
		--bt-p-medium: 17px;
		--bt-p-large: 18px;
		--bt-p-xlarge: 20px;
		--bt-border-radius-small: 20px;
		--bt-border-radius: 32px;
		--bt-border-radius-inner: 31px;
	}
	@media screen and (min-width: 960px) {
		--bt-box-padding-medium: 40px;
		--bt-box-padding: 60px;
	}
	@media screen and (min-width: 1200px) {
		--bt-p-small: 16px;
		--bt-p-medium: 18px;
		--bt-p-large: 21px;
		--bt-p-xlarge: 25px;
		--bt-border-radius-small: 24px;
		--bt-border-radius: 40px;
		--bt-border-radius-inner: 39px;
		--bt-btn-font-size: 17px;
	}
	
}


body,html{
    font-family: var(--bt-font-stack);
    font-weight: 400;
    height: 100%;
	background: var(--bt-night);
	color: var(--bt-white);
	font-size: var(--bt-p-medium);
}
#page{
	background: var(--bt-chalk);
	color: var(--bt-night);
}
//Selection
::selection {
  color: var(--bt-night);
  background: var(--bt-lemon-light);
}

// Grid
@media screen and (max-width: 575px){
    .row{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 1194px){
    .flex-row-special {
        flex-direction: row !important;
    }
}
/*Buttons*/
.btn,
.mktoButton,
input[type=submit], 
input[type=button]{
    border-width: 0;
    font-size: var(--bt-btn-font-size) !important;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 17px */
	letter-spacing: -0.17px;
    font-family: var(--bt-font-stack);
	padding: 15px 25px !important;
	color: var(--bt-night);
	border-radius: 102.865px;
	background: var(--bt-lemon-light);
	border: none;
	font-weight: 700;
	outline-style: solid;
	outline-width: 0px;
	outline-color: transparent;
	transition: all 0.4s ease-out !important;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.25px;
	outline-offset: -1px;
	height: auto;
	min-width: 177px;
}
.btn.filter{
	min-width: auto;
}
input[type=submit]:focus, 
input[type=button]:focus, 
.mktoButton{
	border: none !important;
}

.btn:hover, 
.mktoButton:hover,
input[type=submit]:hover, 
input[type=button]:hover{
    box-shadow: none !important;
    outline-width: 5px !important;
    transition: var(--bt-transition) !important;
}
.btn-outline-primary{
    color: var(--bt-night);
}
.btn-primary{
    color: var(--bt-white) !important;
	background: var(--bt-blue) !important;
	outline-color: var(--bt-blue) !important;
	font-family: var(--bt-font-stack) !important;
	&:hover{
	    color: var(--bt-white) !important;
		background: var(--bt-blue) !important;
		outline-color: var(--bt-blue) !important;
	}
}

.btn-secondary,
.mktoButton{
	color: var(--bt-white) !important;
	background: var(--bt-indigo) !important;
	outline-color: var(--bt-indigo) !important;
	font-family: var(--bt-font-stack) !important;
	&:hover{
	    color: var(--bt-white) !important;
		background: var(--bt-indigo) !important;
		outline-color: var(--bt-indigo) !important;
	}
}


.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark{
    border-width: 0;
    outline-style: solid;
    outline-width: 1px;
    padding: 15px 25px;
    background: transparent;
}
.btn-outline-primary{
    outline-color: $primary;
    color: $primary;
    &:hover{
	    background: $primary;
	    color: var(--bt-night);
	}
	&.active{
	    background: transparent;
	    border: none;
	}
	&.menu-item{
		a{
		    padding: 0;
		    margin: 0;
		}
	} 
}
.btn-outline-secondary{
    outline-color: $secondary;
    color: $secondary;
    &:hover{
	    background: $secondary;
	    color: var(--bt-Lemon);
	}
}
.btn-outline-success{
    outline-color: $success;
    color: $success;
    &:hover{
	    background: $success;
	    color: var(--bt-night);
	}
}
.btn-outline-danger{
    outline-color: $danger;
    color: $danger;
    &:hover{
	    background: $danger;
	    color: var(--bt-White);
	}
}
.btn-outline-warning{
    outline-color: $warning;
    color: $warning;
    &:hover{
	    background: $warning;
	    color: var(--bt-night);
	}
}
.btn-outline-info{
    outline-color: $info;
    color: $info;
    &:hover{
	    background: $info;
	    color: var(--bt-night);
	}
}
.btn-outline-light{
    outline-color: var(--bt-White);
    color: var(--bt-White);
    &:hover{
	    background: var(--bt-White);
	    color: var(--bt-night);
	}
}
.btn-outline-dark{
    outline-color: var(--bt-night);
    color: var(--bt-night);
    &:hover{
	    background: var(--bt-night);
	    color: var(--bt-White);
	}
}
.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-outline-success:hover,
.btn-outline-danger:hover,
.btn-outline-warning:hover,
.btn-outline-info:hover,
.btn-outline-light:hover,
.btn-outline-dark:hover{
    border-width: 0;
    outline-width: 2px;
    background: transparent;
    box-shadow: none;
}

.navbar-nav .btn.menu-item a.nav-link {
    padding: 0;
    font-weight: 700;
}
.btn .nav-link{
    font-weight: 700;
}
.button_section{
	.cta_frame{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		gap: 20px;
	}
}

/*
Typography
*/

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6{
    font-family: var(--bt-font-stack);
}
@media screen and (max-width: 575px){
    .display-1{
        font-size: calc(1.5rem + 4.35vw);
    }
}
.display-1.special{
    color: var(--bt-night);
	font-style: normal;
	font-weight: 600;
	line-height: 110%; /* 105.6px */
	letter-spacing: -.02em;
	font-size: min(max(38px, calc(2.375rem + ((1vw - 3.2px) * 3.625))), 96px); //320-1920
    min-height: 0vw;
    margin-bottom: 1.8rem;
    text-wrap: balance;
	@media screen and (min-width: 1920px){
		font-style: normal;
		font-weight: 600;
		line-height: 110%; /* 105.6px */
		letter-spacing: -0.96px;
	}
}

.display-1.special span, 
.highlight{
	margin: 0 -0.1em 0 -0.08em;
	padding: 0 0.1em 0 0.08em;
	background: transparent;
	background-image: linear-gradient(
	to right,
	var(--bt-lemon-light),
	var(--bt-lemon-light)
	);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
.highlight-pear-light span{
	margin: 0 -0.1em 0 -0.08em;
	padding: 0 0.1em 0 0.08em;
	background: transparent;
	background-image: linear-gradient(
	to right,
	var(--bt-pear-light),
	var(--bt-pear-light)
	);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;

}
h5,
.h5,
h6,
.h6{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
}
h1,
.h1{
	font-size: var(--bt-fluid-calc-one);
	min-height: 0vw;
	line-height: 110%;
	letter-spacing: -.02em;

}
.large-h1{
	font-size: var(--bt-fluid-calc-one-large);
	min-height: 0vw;
	line-height: 110%;
}
h2,
.h2{
	font-size: var(--bt-fluid-calc-two);
    min-height: 0vw;
    line-height: 110%;
    letter-spacing: -.01em;
}
h3, 
.h3{
	font-size: var(--bt-fluid-calc-three);
    min-height: 0vw;
    line-height: 110%;
    letter-spacing: -.01em;
}
h4, 
.h4{
	font-size: var(--bt-fluid-calc-four);
    min-height: 0vw;
    line-height: 120%;
    letter-spacing: -.01em;
}
h5, 
.h5{
	font-size: var(--bt-fluid-calc-five);
    min-height: 0vw;
    line-height: 115%;
}
h6, 
.h6{
    font-size: var(--bt-fluid-calc-six);
    min-height: 0vw;
    line-height: 115%;
}

h3 a, 
.h3 a,
h4 a, 
.h4 a{
    color: var(--bt-sky-dark);
    text-decoration: underline;
}
h3 a:hover, 
.h3 a:hover,
h4 a:hover, 
.h4 a:hover,
h5 a:hover, 
.h5 a:hover{
    color: var(--bt-sky-light);
    text-decoration: underline;
}


p.small,
p.p-small{
	font-size: var(--bt-p-small);
}
p, 
.p{
	font-family: var(--bt-font-stack);
    font-weight:400;
    line-height: 160%;
    font-size: var(--bt-p-medium);
    margin-bottom: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-wrap: pretty;
}

.lead,
p.large,
p.p-large{
	font-family: var(--bt-font-stack);
    font-weight:400;
    line-height: 160%;
    font-size: var(--bt-p-large) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-wrap: pretty;
    max-width: 800px;
    @media screen and (min-width: 1400px){
    	max-width: 900px;
    }
}
p.pos-rel{
	position: relative;
	.l-quote{
		position: absolute;
		top: 0;
		left: -14px;
		color: var(--bt-night);
		font-family: var(--bt-font-stack);
		font-style: normal;
		font-weight: 700;
		line-height: 115%;
		width: 20px;
		height: 20px;
		font-size: var(--bt-p-xlarge);
		@media screen and (min-width: 768px){
			left: -18px;
		}
		@media screen and (min-width: 1200px){
			left: -20px;
		}
	}
}
li{
    font-family: var(--bt-font-stack);
    font-weight:400;
    line-height: 160%;
    font-size: 18px;
    margin-bottom: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-wrap: pretty;
}